{% extends 'base.html' %}

{% block content %}

<div class="card mt-5 mx-auto" style="max-width: 500px; border: 1px solid #ddd;">
   <div class="card-body bg-white d-flex justify-content-center align-items-center flex-column" style="padding: 30px;">
       <h2 class="mb-4" style="color: #000000;">Register</h2> <!-- عنوان التسجيل باللون الأسود -->
       <form method="post" class="form-group w-100">
           {% csrf_token %}
           <div class="mb-3">
               <label for="id_username" style="color: #000000;">Username:</label>
               <input type="text" name="username" class="form-control" id="id_username" style="color: #000000; background-color: #f8f9fa; border: 1px solid #ccc;">
           </div>
           <div class="mb-3">
               <label for="id_email" style="color: #000000;">Email address:</label>
               <input type="email" name="email" class="form-control" id="id_email" style="color: #000000; background-color: #f8f9fa; border: 1px solid #ccc;">
           </div>
           <div class="mb-3">
               <label for="id_password1" style="color: #000000;">Password:</label>
               <input type="password" name="password1" class="form-control" id="id_password1" style="color: #000000; background-color: #f8f9fa; border: 1px solid #ccc;">
           </div>
           <div class="mb-3">
               <label for="id_password2" style="color: #000000;">Password confirmation:</label>
               <input type="password" name="password2" class="form-control" id="id_password2" style="color: #000000; background-color: #f8f9fa; border: 1px solid #ccc;">
           </div>

           <div class="d-grid gap-2">
               <button class="btn mt-3" type="submit" style="background-color: #000000; color: #FFFFFF;">Register</button> <!-- زر تسجيل بخلفية سوداء ونص أبيض -->
           </div>
       </form>
   </div>
</div>

{% endblock %}
